[project]
	description = acifs is a fork of the jcifs project(http://jcifs.samba.org/) with minor modifications made to allow it to work on android. As this is a fork of jcifs it is also released under the same license(LGPL). See JCIFS for more info at the moment. Essentially including this library in your application will allow you to view files on a samba network using android. 
[access "refs/*"]
	owner = group user/Rob Ward (rob-ward)
[access "refs/for/refs/*"]
	read = group user/Rob Ward (rob-ward)
	push = group user/Rob Ward (rob-ward)
	label-Code-Review = -2..+2 group user/Rob Ward (rob-ward)
	label-Verified = -1..+1 group user/Rob Ward (rob-ward)
	rebase = group user/Rob Ward (rob-ward)
	removeReviewer = group user/Rob Ward (rob-ward)
	submit = group user/Rob Ward (rob-ward)
[access "refs/heads/*"]
	read = group user/Rob Ward (rob-ward)
	create = group user/Rob Ward (rob-ward)
	push = +force group user/Rob Ward (rob-ward)
	pushMerge = group user/Rob Ward (rob-ward)
[access "refs/tags/*"]
	push = +force group user/Rob Ward (rob-ward)
	pushTag = group user/Rob Ward (rob-ward)
	pushSignedTag = group user/Rob Ward (rob-ward)
